

/* Lines 5 through 42 represent a consolidation of 'top matter' and 'header' styling with navigation specifications. The elements h1, li, and a are all now stand-alone 
carriers of the style specifications for the header. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color:#ffffff;     
}

h1 {
    display: inline-block;
    font-size: 48px;
}
 
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

li { 
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Lines 49 through 92 specify the styling for the "main" division of the page. I considered each part of the main body to be its own "section" of content
and styling was consolidated to reflect that grouping of similarities. The class "sectionStyle" was added to cover the multiple redundancies in the former css. The
elements h2 and p are given new specifications for this section. */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.sectionStyle {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* Lines 97 through 122 represent the consolidation of the "benefits" styling. One sincle class 'benefit-sty' was defined
to absorb the multiple redundancies of the former style specifications. These classes are used under the 'aside' semantic section title. */


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-sty{
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-sty h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-sty img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* These are the stylings which accomplish the same function as the original style specifications for the footer. Now however, we adopt the use of the h4 header and redefine it 
to have the required behavior h2 had when used in this section. */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
